.vs/
ipch/
bin/
sdks/
intermediate/
server.sdf
server.VC.opendb
server/.vs/
*.o
*.so
*.pdb
Build
ImmortalCard/Assets/BundleManager/LearningTheInterfaceofBundleManager.pdf
ImmortalCard/Assets/BundleManager/LearningTheInterfaceofBundleManager.pdf.meta
ImmortalCard/Assets/BundleManager/Readme.pdf
ImmortalCard/Assets/BundleManager/Readme.pdf.meta
ImmortalCard/Assets/BundleManager/StreamingAtRuntime.pdf
ImmortalCard/Assets/BundleManager/StreamingAtRuntime.pdf.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/ReadMe!.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/ReadMe!/ReadMe!.txt
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/ReadMe!/ReadMe!.txt.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/MoveSample.cs
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/MoveSample.cs.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/RotateSample.cs
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/RotateSample.cs.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/Sample.unity
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/Sample.unity.meta
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/SampleInfo.cs
ImmortalCard/Assets/Plugins/Pixelplacement/iTween/Sample/SampleInfo.cs.meta
ImmortalCard/Assets/PrefabEvolution/Readme.meta
ImmortalCard/Assets/PrefabEvolution/Readme/Readme.odt
ImmortalCard/Assets/PrefabEvolution/Readme/Readme.odt.meta
ImmortalCard/Assets/PrefabEvolution/Readme/Readme.pdf
ImmortalCard/Assets/PrefabEvolution/Readme/Readme.pdf.meta
ImmortalCard/Assembly-CSharp-Editor-vs.csproj
ImmortalCard/Assembly-CSharp-Editor.csproj
ImmortalCard/Assembly-CSharp-firstpass-vs.csproj
ImmortalCard/Assembly-CSharp-firstpass.csproj
ImmortalCard/Assembly-CSharp.csproj
ImmortalCard/Card-csharp.sln
ImmortalCard/Card.sln
*.bak
ImmortalCard/ImmortalCard-csharp.sln
ImmortalCard/ImmortalCard.sln
